- name: Install Wazuh Manager
  hosts: wazuh_manager
  become: yes
  tasks:
    - name: Install Docker
      apt:
        name: 
          - docker.io
          - docker-compose
        state: present
        update_cache: yes

    - name: Clone Wazuh Docker repository
      git:
        repo: 'https://github.com/wazuh/wazuh-docker.git'
        dest: /opt/wazuh-docker
        version: v4.7.2

    - name: Start Wazuh using Docker Compose
      shell:
        cmd: docker-compose up -d
        chdir: /opt/wazuh-docker/single-node
